# One-to-Many and Many-to-Many Joins - Lab

## Introduction

In this lab, you'll practice your knowledge on One-to-Many and Many-to-many relationships!

## Objectives

You will be able to:
- Query data including Many-to-Many relationships
- Write queries that make use of Join Tables

## One-to-Many and Many-to-Many Joins
<img src='Database-Schema.png' width=550>

## Employees and their Office (a One-to-One join)

Return a list of all of the employees with their first name, last name and the city and state of the office that they work out of (if they have one). Include all employees and order them by their first name, then their last name.

In [7]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('data.sqlite', detect_types=sqlite3.PARSE_COLNAMES)
curr= conn.cursor()

In [14]:
#Your code here
curr.execute('''SELECT firstName, lastName, city, state 
                FROM employees 
                JOIN offices
                USING (officecode)
                ORDER BY firstName, lastName''')

df = pd.DataFrame(curr.fetchall())
df.columns = [i[0] for i in curr.description]
df.head(20)

   firstName   lastName           city       state
0       Andy     Fixter         Sydney
1    Anthony        Bow  San Francisco          CA
2      Barry      Jones         London
3      Diane     Murphy  San Francisco          CA
4   Foon Yue      Tseng            NYC          NY
5     George     Vanauf            NYC          NY
6     Gerard     Bondur          Paris
7     Gerard  Hernandez          Paris
8       Jeff   Firrelli  San Francisco          CA
9      Julie   Firrelli         Boston          MA
10     Larry       Bott         London
11    Leslie   Jennings  San Francisco          CA
12    Leslie   Thompson  San Francisco          CA
13      Loui     Bondur          Paris
14      Mami      Nishi          Tokyo  Chiyoda-Ku
15    Martin     Gerard          Paris
16      Mary  Patterson  San Francisco          CA
17    Pamela   Castillo          Paris
18     Peter      Marsh         Sydney
19     Steve  Patterson         Boston          MA

## Customers and their Orders (a One-to-Many join)

Return a list of all of the customers. For each customer return a record for each of their order numbers, order dates and statuses.

In [18]:
# Your code here
curr.execute('''SELECT customername, ordernumber, orderdate, status
                FROM customers 
                JOIN orders
                USING (customernumber)
                ORDER BY orderdate DESC''')

df = pd.DataFrame(curr.fetchall())
df.columns = [i[0] for i in curr.description]
df.head(20)

                     customerName orderNumber   orderDate      status
0               La Rochelle Gifts       10425  2005-05-31  In Process
1          Euro+ Shopping Channel       10424  2005-05-31  In Process
2           Diecast Classics Inc.       10422  2005-05-30  In Process
3                      Petit Auto       10423  2005-05-30  In Process
4    Mini Gifts Distributors Ltd.       10421  2005-05-29  In Process
5       Souveniers And Things Co.       10420  2005-05-29  In Process
6           Salzburg Collectables       10419  2005-05-17     Shipped
7   Extreme Desk Decorations, Ltd       10418  2005-05-16     Shipped
8          Euro+ Shopping Channel       10417  2005-05-13    Disputed
9             L'ordine Souveniers       10416  2005-05-10     Shipped
10   Australian Collectables, Ltd       10415  2005-05-09    Disputed
11              Gifts4AllAges.com       10414  2005-05-06     On Hold
12                Gift Depot Inc.       10413  2005-05-05     Shipped
13         Euro+ Shopping Channel       10412  2005-05-03     Shipped
14   Québec Home Shopping Network       10411  2005-05-01     Shipped
15                GiftsForHim.com       10410  2005-04-29     Shipped
16               Handji Gifts& Co       10409  2005-04-23     Shipped
17        Tokyo Collectables, Ltd       10408  2005-04-22     Shipped
18      The Sharp Gifts Warehouse       10407  2005-04-22     On Hold
19       Danish Wholesale Imports       10406  2005-04-15    Disputed

## Orders and their Order Details (another One-to-Many join)

Return a list of orders. For each order return a record for each order detail within the order.

In [19]:
# Your code here
curr.execute('''SELECT *
                FROM orders 
                JOIN orderdetails
                USING (ordernumber)
                ORDER BY orderdate DESC''')

df = pd.DataFrame(curr.fetchall())
df.columns = [i[0] for i in curr.description]
df.head(20)

,orderNumber,orderDate,requiredDate,shippedDate,status,comments,customerNumber,productCode,quantityOrdered,priceEach,orderLineNumber
0,10424,2005-05-31,2005-06-08,,In Process,,141,S10_1949,50,201.44,6
1,10424,2005-05-31,2005-06-08,,In Process,,141,S12_1666,49,121.64,3
2,10424,2005-05-31,2005-06-08,,In Process,,141,S18_1097,54,108.50,5
3,10424,2005-05-31,2005-06-08,,In Process,,141,S18_4668,26,40.25,4
4,10424,2005-05-31,2005-06-08,,In Process,,141,S32_3522,44,54.94,2
5,10424,2005-05-31,2005-06-08,,In Process,,141,S700_2824,46,85.98,1
6,10425,2005-05-31,2005-06-07,,In Process,,119,S10_4962,38,131.49,12
7,10425,2005-05-31,2005-06-07,,In Process,,119,S12_4473,33,95.99,4
8,10425,2005-05-31,2005-06-07,,In Process,,119,S18_2238,28,147.36,3
9,10425,2005-05-31,2005-06-07,,In Process,,119,S18_2319,38,117.82,7
10,10425,2005-05-31,2005-06-07,,In Process,,119,S18_2432,19,48.62,10
11,10425,2005-05-31,2005-06-07,,In Process,,119,S18_3232,28,140.55,8
12,10425,2005-05-31,2005-06-07,,In Process,,119,S18_4600,38,107.76,13
13,10425,2005-05-31,2005-06-07,,In Process,,119,S24_1444,55,53.75,1
14,10425,2005-05-31,2005-06-07,,In Process,,119,S24_2300,49,127.79,9
15,10425,2005-05-31,2005-06-07,,In Process,,119,S24_2840,31,31.82,5
16,10425,2005-05-31,2005-06-07,,In Process,,119,S32_1268,41,83.79,11
17,10425,2005-05-31,2005-06-07,,In Process,,119,S32_2509,11,50.32,6
18,10425,2005-05-31,2005-06-07,,In Process,,119,S50_1392,18,94.92,2
19,10422,2005-05-30,2005-06-11,,In Process,,157,S18_1342,51,91.44,2

## Orders, Order details and Product Details (a Many-to-Many Join)

Return a list of the orders with the the order information, and all the product information for each product in the order.

In [4]:
# Your code here
curr.execute('''SELECT *
                FROM orders 
                JOIN orderdetails
                USING (ordernumber)
                JOIN products
                USING ()
                ORDER BY orderdate DESC''')

df = pd.DataFrame(curr.fetchall())
df.columns = [i[0] for i in curr.description]
df.head(20)

## Summary

In this lab, you practiced your knowledge on One-to-Many and Many-to-many relationships!