# One-to-Many and Many-to-Many Joins - Lab

## Introduction

In this lab, you'll practice your knowledge on One-to-Many and Many-to-many relationships!

## Objectives

You will be able to:
- Query data including Many-to-Many relationships
- Write queries that make use of Join Tables

## One-to-Many and Many-to-Many Joins
<img src='Database-Schema.png' width=550>

## Employees and their Office (a One-to-One join)

Return a list of all of the employees with their first name, last name and the city and state of the office that they work out of (if they have one). Include all employees and order them by their first name, then their last name.

In [7]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('data.sqlite', detect_types=sqlite3.PARSE_COLNAMES)
curr= conn.cursor()

In [14]:
#Your code here
curr.execute('''SELECT firstName, lastName, city, state 
                FROM employees 
                JOIN offices
                USING (officecode)
                ORDER BY firstName, lastName''')

df = pd.DataFrame(curr.fetchall())
df.columns = [i[0] for i in curr.description]
df.head(20)

   firstName   lastName           city       state
0       Andy     Fixter         Sydney
1    Anthony        Bow  San Francisco          CA
2      Barry      Jones         London
3      Diane     Murphy  San Francisco          CA
4   Foon Yue      Tseng            NYC          NY
5     George     Vanauf            NYC          NY
6     Gerard     Bondur          Paris
7     Gerard  Hernandez          Paris
8       Jeff   Firrelli  San Francisco          CA
9      Julie   Firrelli         Boston          MA
10     Larry       Bott         London
11    Leslie   Jennings  San Francisco          CA
12    Leslie   Thompson  San Francisco          CA
13      Loui     Bondur          Paris
14      Mami      Nishi          Tokyo  Chiyoda-Ku
15    Martin     Gerard          Paris
16      Mary  Patterson  San Francisco          CA
17    Pamela   Castillo          Paris
18     Peter      Marsh         Sydney
19     Steve  Patterson         Boston          MA

## Customers and their Orders (a One-to-Many join)

Return a list of all of the customers. For each customer return a record for each of their order numbers, order dates and statuses.

In [18]:
# Your code here
curr.execute('''SELECT customername, ordernumber, orderdate, status
                FROM customers 
                JOIN orders
                USING (customernumber)
                ORDER BY orderdate DESC''')

df = pd.DataFrame(curr.fetchall())
df.columns = [i[0] for i in curr.description]
df.head(20)

                     customerName orderNumber   orderDate      status
0               La Rochelle Gifts       10425  2005-05-31  In Process
1          Euro+ Shopping Channel       10424  2005-05-31  In Process
2           Diecast Classics Inc.       10422  2005-05-30  In Process
3                      Petit Auto       10423  2005-05-30  In Process
4    Mini Gifts Distributors Ltd.       10421  2005-05-29  In Process
5       Souveniers And Things Co.       10420  2005-05-29  In Process
6           Salzburg Collectables       10419  2005-05-17     Shipped
7   Extreme Desk Decorations, Ltd       10418  2005-05-16     Shipped
8          Euro+ Shopping Channel       10417  2005-05-13    Disputed
9             L'ordine Souveniers       10416  2005-05-10     Shipped
10   Australian Collectables, Ltd       10415  2005-05-09    Disputed
11              Gifts4AllAges.com       10414  2005-05-06     On Hold
12                Gift Depot Inc.       10413  2005-05-05     Shipped
13         Euro+ Shopping Channel       10412  2005-05-03     Shipped
14   Québec Home Shopping Network       10411  2005-05-01     Shipped
15                GiftsForHim.com       10410  2005-04-29     Shipped
16               Handji Gifts& Co       10409  2005-04-23     Shipped
17        Tokyo Collectables, Ltd       10408  2005-04-22     Shipped
18      The Sharp Gifts Warehouse       10407  2005-04-22     On Hold
19       Danish Wholesale Imports       10406  2005-04-15    Disputed

## Orders and their Order Details (another One-to-Many join)

Return a list of orders. For each order return a record for each order detail within the order.

In [19]:
# Your code here
curr.execute('''SELECT *
                FROM orders 
                JOIN orderdetails
                USING (ordernumber)
                ORDER BY orderdate DESC''')

df = pd.DataFrame(curr.fetchall())
df.columns = [i[0] for i in curr.description]
df.head(20)

,orderNumber,orderDate,requiredDate,shippedDate,status,comments,customerNumber,productCode,quantityOrdered,priceEach,orderLineNumber
0,10424,2005-05-31,2005-06-08,,In Process,,141,S10_1949,50,201.44,6
1,10424,2005-05-31,2005-06-08,,In Process,,141,S12_1666,49,121.64,3
2,10424,2005-05-31,2005-06-08,,In Process,,141,S18_1097,54,108.50,5
3,10424,2005-05-31,2005-06-08,,In Process,,141,S18_4668,26,40.25,4
4,10424,2005-05-31,2005-06-08,,In Process,,141,S32_3522,44,54.94,2
5,10424,2005-05-31,2005-06-08,,In Process,,141,S700_2824,46,85.98,1
6,10425,2005-05-31,2005-06-07,,In Process,,119,S10_4962,38,131.49,12
7,10425,2005-05-31,2005-06-07,,In Process,,119,S12_4473,33,95.99,4
8,10425,2005-05-31,2005-06-07,,In Process,,119,S18_2238,28,147.36,3
9,10425,2005-05-31,2005-06-07,,In Process,,119,S18_2319,38,117.82,7
10,10425,2005-05-31,2005-06-07,,In Process,,119,S18_2432,19,48.62,10
11,10425,2005-05-31,2005-06-07,,In Process,,119,S18_3232,28,140.55,8
12,10425,2005-05-31,2005-06-07,,In Process,,119,S18_4600,38,107.76,13
13,10425,2005-05-31,2005-06-07,,In Process,,119,S24_1444,55,53.75,1
14,10425,2005-05-31,2005-06-07,,In Process,,119,S24_2300,49,127.79,9
15,10425,2005-05-31,2005-06-07,,In Process,,119,S24_2840,31,31.82,5
16,10425,2005-05-31,2005-06-07,,In Process,,119,S32_1268,41,83.79,11
17,10425,2005-05-31,2005-06-07,,In Process,,119,S32_2509,11,50.32,6
18,10425,2005-05-31,2005-06-07,,In Process,,119,S50_1392,18,94.92,2
19,10422,2005-05-30,2005-06-11,,In Process,,157,S18_1342,51,91.44,2

## Orders, Order details and Product Details (a Many-to-Many Join)

Return a list of the orders with the the order information, and all the product information for each product in the order.

In [20]:
# Your code here
curr.execute('''SELECT *
                FROM orders 
                JOIN orderdetails
                USING (ordernumber)
                JOIN products
                USING (productcode)
                ORDER BY orderdate DESC''')

df = pd.DataFrame(curr.fetchall())
df.columns = [i[0] for i in curr.description]
df.head(20)

,orderNumber,orderDate,requiredDate,shippedDate,status,comments,customerNumber,productCode,quantityOrdered,priceEach,orderLineNumber,productName,productLine,productScale,productVendor,productDescription,quantityInStock,buyPrice,MSRP
0,10424,2005-05-31,2005-06-08,,In Process,,141,S10_1949,50,201.44,6,1952 Alpine Renault 1300,Classic Cars,1:10,Classic Metal Creations,Turnable front wheels; steering function; deta...,7305,98.58,214.30
1,10424,2005-05-31,2005-06-08,,In Process,,141,S12_1666,49,121.64,3,1958 Setra Bus,Trucks and Buses,1:12,Welly Diecast Productions,"Model features 30 windows, skylights & glare r...",1579,77.90,136.67
2,10424,2005-05-31,2005-06-08,,In Process,,141,S18_1097,54,108.50,5,1940 Ford Pickup Truck,Trucks and Buses,1:18,Studio M Art Models,"This model features soft rubber tires, working...",2613,58.33,116.67
3,10424,2005-05-31,2005-06-08,,In Process,,141,S18_4668,26,40.25,4,1939 Cadillac Limousine,Vintage Cars,1:18,Studio M Art Models,Features completely detailed interior includin...,6645,23.14,50.31
4,10424,2005-05-31,2005-06-08,,In Process,,141,S32_3522,44,54.94,2,1996 Peterbilt 379 Stake Bed with Outrigger,Trucks and Buses,1:32,Red Start Diecast,"This model features, opening doors, detailed e...",814,33.61,64.64
5,10424,2005-05-31,2005-06-08,,In Process,,141,S700_2824,46,85.98,1,1982 Camaro Z28,Classic Cars,1:18,Carousel DieCast Legends,Features include opening and closing doors. Co...,6934,46.53,101.15
6,10425,2005-05-31,2005-06-07,,In Process,,119,S10_4962,38,131.49,12,1962 LanciaA Delta 16V,Classic Cars,1:10,Second Gear Diecast,Features include: Turnable front wheels; steer...,6791,103.42,147.74
7,10425,2005-05-31,2005-06-07,,In Process,,119,S12_4473,33,95.99,4,1957 Chevy Pickup,Trucks and Buses,1:12,Exoto Designs,"1:12 scale die-cast about 20"" long Hood opens,...",6125,55.70,118.50
8,10425,2005-05-31,2005-06-07,,In Process,,119,S18_2238,28,147.36,3,1998 Chrysler Plymouth Prowler,Classic Cars,1:18,Gearbox Collectibles,Turnable front wheels; steering function; deta...,4724,101.51,163.73
9,10425,2005-05-31,2005-06-07,,In Process,,119,S18_2319,38,117.82,7,1964 Mercedes Tour Bus,Trucks and Buses,1:18,Unimax Art Galleries,Exact replica. 100+ parts. working steering sy...,8258,74.86,122.73
10,10425,2005-05-31,2005-06-07,,In Process,,119,S18_2432,19,48.62,10,1926 Ford Fire Engine,Trucks and Buses,1:18,Carousel DieCast Legends,Gleaming red handsome appearance. Everything i...,2018,24.92,60.77
11,10425,2005-05-31,2005-06-07,,In Process,,119,S18_3232,28,140.55,8,1992 Ferrari 360 Spider red,Classic Cars,1:18,Unimax Art Galleries,"his replica features opening doors, superb det...",8347,77.90,169.34
12,10425,2005-05-31,2005-06-07,,In Process,,119,S18_4600,38,107.76,13,1940s Ford truck,Trucks and Buses,1:18,Motor City Art Classics,This 1940s Ford Pick-Up truck is re-created in...,3128,84.76,121.08
13,10425,2005-05-31,2005-06-07,,In Process,,119,S24_1444,55,53.75,1,1970 Dodge Coronet,Classic Cars,1:24,Highway 66 Mini Classics,"1:24 scale die-cast about 18"" long doors open,...",4074,32.37,57.80
14,10425,2005-05-31,2005-06-07,,In Process,,119,S24_2300,49,127.79,9,1962 Volkswagen Microbus,Trucks and Buses,1:24,Autoart Studio Design,This 1:18 scale die cast replica of the 1962 M...,2327,61.34,127.79
15,10425,2005-05-31,2005-06-07,,In Process,,119,S24_2840,31,31.82,5,1958 Chevy Corvette Limited Edition,Classic Cars,1:24,Carousel DieCast Legends,The operating parts of this 1958 Chevy Corvett...,2542,15.91,35.36
16,10425,2005-05-31,2005-06-07,,In Process,,119,S32_1268,41,83.79,11,1980’s GM Manhattan Express,Trucks and Buses,1:32,Motor City Art Classics,This 1980’s era new look Manhattan express is ...,5099,53.93,96.31
17,10425,2005-05-31,2005-06-07,,In Process,,119,S32_2509,11,50.32,6,1954 Greyhound Scenicruiser,Trucks and Buses,1:32,Classic Metal Creations,"Model features bi-level seating, 50 windows, s...",2874,25.98,54.11
18,10425,2005-05-31,2005-06-07,,In Process,,119,S50_1392,18,94.92,2,Diamond T620 Semi-Skirted Tanker,Trucks and Buses,1:50,Highway 66 Mini Classics,This limited edition model is licensed and per...,1016,68.29,115.75
19,10422,2005-05-30,2005-06-11,,In Process,,157,S18_1342,51,91.44,2,1937 Lincoln Berline,Vintage Cars,1:18,Motor City Art Classics,"Features opening engine cover, doors, trunk, a...",8693,60.62,102.74

## Summary

In this lab, you practiced your knowledge on One-to-Many and Many-to-many relationships!